
@{
    Layout = null;
}

@model UserModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>

        @using (Html.BeginForm("Register", "Account"))
        {
            @Html.AntiForgeryToken()
            @Html.LabelFor(x=> x.UserName)
            @Html.TextBoxFor(x => x.UserName)
            @Html.ValidationMessageFor(x => x.UserName)
            <br />
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email)
            @Html.ValidationMessageFor(x => x.Email)
            <br />
            @Html.LabelFor(x => x.Password)
            @Html.TextBoxFor(x => x.Password)
            @Html.ValidationMessageFor(x => x.Password)
            <br />
            @Html.LabelFor(x => x.PasswordConfirm)
            @Html.TextBoxFor(x => x.PasswordConfirm)
            @Html.ValidationMessageFor(x => x.PasswordConfirm)
            <br />

            <input type="submit" name="name" value="@MVCGlobalizationSample.Resource.SiteLanguage.RegisterButtonText" />

        }

    </div>
</body>
</html>
